<header class="bg-gray-800 text-white sticky top-0">
  <div class="container mx-auto py-4 px-6 flex items-center justify-between">
    <h1 class="text-2xl font-bold">Scolarité</h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="#" class="hover:text-gray-300">Accueil</a></li>
        <li><a href="/Etudiant" class="hover:text-gray-300">Etudiant</a></li>
        <li><a href="/Specialite" class="hover:text-gray-300">Specialite</a></li>
      
      </ul>
    </nav>
  </div>
</header>
